.row {
  margin-left: 25%;
  margin-right: 15%;
  max-width: 50%;
}
#Super_Important {
  color: red;
}
#Important {
  color: blue;
}
#Very_Important {
  color: yellow;
}
#Not_Very_Important {
  color: green;
}
.wrapper {
  align-items: center;
  justify-content: center;
}
