<app-loading *ngIf="isLoading"></app-loading>

<br />
<div class="wrapper">
  <button class="btn btn-primary" (click)="onToggle()">
    {{ ShowAddNotes ? "Back To To Do" : "Add To Do" }}
    <i class="bi {{ ShowIcon ? 'bi-back' : 'bi-plus-lg' }}"></i>
  </button>
  &nbsp;
  <button class="btn btn-danger" *ngIf="!ShowAddNotes">
    Clear All Posts <i class="bi bi-trash"></i>
  </button>
</div>
<br />
<div class="row" *ngIf="!ShowAddNotes && !isLoading">
  <div class="alert alert-danger alert-dismissible" *ngIf="error">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h3>An Error Occured</h3>
    <strong>{{ error }}</strong>
  </div>

  <br />
  <div
    class="alert alert-danger alert-dismissible"
    *ngIf="loadedToDo.length < 1 && !error"
  >
    <a href="#" class="close" data-dismiss="alert" aria-label="close"
      >&times;</a
    >
    <strong>No Notes were avalible</strong>
  </div>
  <br />
  <div class="container">
    <div class="col">
      <div class="more" *ngIf="!ShowAddNotes">
        <ul class="list-group" *ngIf="loadedToDo.length >= 1">
          <div class="card" *ngFor="let ToDo of loadedToDo1">
            <div class="card-header">
              <h1>{{ ToDo.name }}</h1>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ ToDo.name }}</h5>
              <p class="card-text">{{ ToDo.desc }}</p>
              <h3 class="card-text">
                <i class="bi bi-exclamation-lg t{{ ToDo.Priority }}"></i>
              </h3>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <br />
    <div class="col">
      <div class="more" *ngIf="!ShowAddNotes">
        <ul class="list-group" *ngIf="loadedToDo.length >= 1">
          <div class="card" *ngFor="let ToDo of loadedToDo2">
            <div class="card-header">
              <h1>{{ ToDo.name }}</h1>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ ToDo.name }}</h5>
              <p class="card-text">{{ ToDo.desc }}</p>
              <h3 class="card-text">
                <i class="bi bi-exclamation-lg t{{ ToDo.Priority }}"></i>
              </h3>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <br />
  </div>
</div>
